body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
form {
  margin: 0 auto;
  padding: 1em;
}
.form-label,
.form-input {
  display: inline-block;
  margin-top: 10px;
}
.form-label {
  width: 40px;
}
.form-btn {
  margin-top: 10px;
  margin-left: 40px;
}
